@use "../abstract" as *;
// Recomendation section

// adding link color

.more {
  font-weight: 700;
  letter-spacing: -0.01rem;
  display: inline-block;
}

.more:after {
  font-family: "Custom";
  content: "\e902";
  padding-left: 0.3rem;
  font-size: 0.35rem;
  font-weight: normal;
  vertical-align: 0.05rem;
  letter-spacing: -0.01rem;
}

.link-red {
  color: #e2626b;
}

.link-red:hover,
.link-red:focus {
  color: #e2626b;
}

.link-yellow {
  color: #fab758;
}

.link-yellow:hover,
.link-yellow:focus {
  color: #fab758;
}

div .hover {
  position: relative;
}

div .hover::before {
  position: absolute;
  width: 100%;
  height: 1px;
  background: currentColor;
  top: 100%;
  left: 0;
  pointer-events: none;
}

div .hover::before {
  content: "";
  transform-origin: 100% 50%;
  transform: scale3d(0, 1, 1);
  transition: transform 0.3s cubic-bezier(0.7, 0, 0.2, 1);
}

div .hover:hover::before {
  transform-origin: 0% 50%;
  transform: scale3d(1, 1, 1);
  transition-timing-function: cubic-bezier(0.4, 1, 0.8, 1);
}

.bb-container-head {
  & .tag {
    position: absolute;
    top: -25px;
    right: 9em;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    padding: 0 7px;
    background: $e-yellow;
    color: $black;
    @include border-radius(4px);
    font-size: 12px;
    text-transform: capitalize;
    @include box-shadow(0px 8px 20px 0px rgba(1, 23, 133, 0.3));

    &::after {
      position: absolute;
      content: "";
      bottom: -5px;
      left: 10px;
      width: 0;
      height: 0;
      border-left: 5px solid $e-yellow;
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
    }
  }
}

.bb-title {
  display: inline;
  float: left;
}

.bb-image {
  display: inline;
  max-width: 8em;
  margin-left: 1em;
  // float:right;
}

.rec-image {
  max-width: 2em;
}

.footer-image {
  max-height: 2em;
}

.footer-logo {
  max-width: 10em;
}

// for footer

.bg-pink {
  background-color: #d16b86 !important;
}

.bg-red {
  background-color: #e2626b !important;
}

.bg-red-bb {
  background-color: #bb282b !important;
}

.link-red {
  color: #e2626b;
}

.link-red:hover,
.link-red:focus {
  color: #e2626b;
}

.heading .link-red-bb {
  color: #a32225;
  font-size: 3rem;
}

.link-red-bb:hover,
.link-red-bb:focus {
  color: #040404;
}

.videointro-image {
  margin-right: 1em;
  max-height: 3em;
}

.bg-cream {
  background-color: #fff2e1;
}

.bg-cream-bb {
  background-color: #ffda48;
}

// Coursepage

.bg-soft-primary {
  background-color: #f1f5fd !important;
}

.bg-soft-blue {
  background-color: #f1f5fd !important;
}

.bg-soft-purple {
  background-color: #f5f5fc !important;
}

.bg-soft-violet {
  background-color: #f8f5fb !important;
}

.bg-soft-pink {
  background-color: #fcf4f6 !important;
}

.bg-soft-red {
  background-color: #fdf3f4 !important;
}

.bg-soft-orange {
  background-color: #fef6f5 !important;
}

.bg-soft-green {
  background-color: #f4faf8 !important;
}

.bg-soft-leaf {
  background-color: #f5faf7 !important;
}

.bg-soft-aqua {
  background-color: #f2f8fb !important;
}

.bg-soft-navy {
  background-color: #f0f1f2 !important;
}

.bg-soft-ash {
  background-color: #f7f7f8 !important;
}

.bg-soft-gray {
  background-color: #fefeff !important;
}

.bg-soft-gray {
  background: rgba(164, 174, 198, 0.2);
}

.bg-blue {
  background-color: #3f78e0 !important;
}

.bg-purple {
  background-color: #747ed1 !important;
}

.bg-violet {
  background-color: #a07cc5 !important;
}

.bg-pink {
  background-color: #d16b86 !important;
}

.bg-red {
  background-color: #e2626b !important;
}

.bg-orange {
  background-color: #f78b77 !important;
}

.bg-yellow {
  background-color: #fab758 !important;
}

.bg-green {
  background-color: #6bbea3 !important;
}

.bg-leaf {
  background-color: #7cb798 !important;
}

.bg-aqua {
  background-color: #54a8c7 !important;
}

.bg-navy {
  background-color: #343f52 !important;
}

.bg-ash {
  background-color: #9499a3 !important;
}

.bg-white {
  background-color: #fff !important;
}

.bg-gray {
  background-color: #f6f7f9 !important;
}

.bg-dark {
  background-color: #262b32 !important;
}

.bg-primary {
  background-color: #e2626b !important;
}

.bg-secondary {
  background-color: #aab0bc !important;
}

.bg-success {
  background-color: #6bbea3 !important;
}

.bg-info {
  background-color: #54a8c7 !important;
}

.bg-warning {
  background-color: #fab758 !important;
}

.bg-danger {
  background-color: #e2626b !important;
}

.bg-body {
  background-color: #fefefe !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.rounded-pill {
  border-radius: 50rem !important;
}

.rating-sum {
  font-size: 17px;
  font-weight: bold;
}


.nav-link:hover,
.nav-link:focus {
  color: #3f78e0;
}

.nav-link.disabled {
  color: #959ca9;
  pointer-events: none;
  cursor: default;
}

.nav-tabs {
  border-bottom: 1px solid rgba(164, 174, 198, 0.2);
}

.nav-tabs .nav-link {
  margin-bottom: -1px;
  background: none;
  border: 1px solid transparent;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: transparent;
  isolation: isolate;
}

.nav-tabs .nav-link.disabled {
  color: #959ca9;
  background-color: transparent;
  border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  color: #3f78e0;
  background-color: #fff;
  border-color: rgba(164, 174, 198, 0.2);
}

.nav-tabs .dropdown-men2u {
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.nav-pills .nav-link {
  background: none;
  border: 0;
  border-radius: 0.4rem;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #3f78e0;
  background-color: #fff;
}

.nav-fill > .nav-link,
.nav-fill .nav-item {
  flex: 1 1 auto;
  text-align: center;
}

.nav-justified > .nav-link,
.nav-justified .nav-item {
  flex-basis: 0;
  flex-grow: 1;
  text-align: center;
}

.nav-fill .nav-item .nav-link,
.nav-justified .nav-item .nav-link {
  width: 100%;
}

// coursedetails sidebar

.bayar-icon {
  max-height: 1.4em;
  margin-right: 0.5em;
}

.btn-red {
  color: #fff;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-red:hover {
  color: #fff;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-check:focus + .btn-red,
.btn-red:focus {
  color: #fff;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-check:checked + .btn-red,
.btn-check:active + .btn-red,
.btn-red:active,
.btn-red.active,
.show > .btn-red.dropdown-toggle {
  color: #fff;
  background-color: #e2626b;
  border-color: #c6565e;
}

.btn-red:disabled:not(.btn-circle):not(.btn-block),
.btn-red.disabled:not(.btn-circle):not(.btn-block) {
  color: #fff;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-outline-red {
  color: #e2626b;
  border-color: #e2626b;
}

.btn-outline-red:hover {
  color: #fff;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-check:focus + .btn-outline-red,
.btn-outline-red:focus {
  box-shadow: none;
}

.btn-check:checked + .btn-outline-red,
.btn-check:active + .btn-outline-red,
.btn-outline-red:active,
.btn-outline-red.active,
.btn-outline-red.dropdown-toggle.show {
  color: #e2626b;
  background-color: #e2626b;
  border-color: #e2626b;
}

.btn-check:checked + .btn-outline-red:focus,
.btn-check:active + .btn-outline-red:focus,
.btn-outline-red:active:focus,
.btn-outline-red.active:focus,
.btn-outline-red.dropdown-toggle.show:focus {
  box-shadow: 0rem 0.25rem 0.75rem rgba(30, 34, 40, 0.15),
    0 0 0 0.25rem rgba(226, 98, 107, 0.5);
}

.btn-outline-red:disabled,
.btn-outline-red.disabled {
  color: #e2626b;
  background-color: transparent;
}

.bg-pale-primary {
  background-color: #e0e9fa !important;
}

.bg-pale-blue {
  background-color: #e0e9fa !important;
}

.bg-pale-purple {
  background-color: #e9eaf8 !important;
}

.bg-pale-violet {
  background-color: #f0eaf6 !important;
}

.bg-pale-pink {
  background-color: #f8e7ec !important;
}

.bg-pale-red {
  background-color: #fae6e7 !important;
}

.bg-pale-orange {
  background-color: #feece9 !important;
}

.bg-pale-yellow {
  background-color: #fef3e4 !important;
}

.bg-pale-green {
  background-color: #e7f5f0 !important;
}

.bg-pale-leaf {
  background-color: #eaf3ef !important;
}

.bg-pale-aqua {
  background-color: #e4f1f6 !important;
}

.bg-pale-navy {
  background-color: #dfe0e3 !important;
}

.bg-pale-ash {
  background-color: #eeeff0 !important;
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.35em;
  vertical-align: top;
  background-color: #fefefe;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid $yellow-primary;
  appearance: none;
  //color-adjust: exact;
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check-input[type="radio"] {
  border-radius: 50%;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: $yellow-primary2;
  outline: 0;
  box-shadow: 0 0 0 0.25rem $yellow-primary2;
}

.form-check-input:checked {
  background-color: $yellow-primary;
  border-color: $yellow-primary;
}

.form-check-input:checked[type="checkbox"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type="radio"] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='1.5' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type="checkbox"]:indeterminate {
  background-color: $yellow-primary2;
  border-color: $yellow-primary2;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input[disabled] ~ .form-check-label,
.form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.form-check-label {
  font-size: 15px;
  font-weight: 500;
  color: $e-text-4;
  padding-left: 14px;
  &:hover {
    cursor: pointer;
    color: $yellow-primary;
  }
}

// header
.logo-header {
  max-width: 6em;
}

//mycoursepage

.heading-mycoursepage {
  height: 20em;
}

// prakerja
.g-xl-12,
.gx-xl-12 {
  --bs-gutter-x: 3.5rem;
}

.g-md-10,
.gy-md-10 {
  --bs-gutter-y: 2.5rem;
}

// heroprakerja

.heroprakerja-img {
  max-width: 70em;
  @media #{$xs}{
    max-width: 20em;
    margin-bottom: 2rem;
  }
}

// profile page

.account-settings .user-profile {
  margin: 0 0 1rem 0;
  padding-bottom: 1rem;
  text-align: center;
}
.account-settings .user-profile .user-avatar {
  margin: 0 0 1rem 0;
}
.account-settings .user-profile .user-avatar img {
  width: 90px;
  height: 90px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.image-mycoursecard {
  object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .logo-header{
    width: 60px;
  }
}